{
    "__plugins": ["prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "avoid",
    "printWidth": 80,
    "trailingComma": "all",
    "bracketSpacing": true,
    "endOfLine": "lf"
}
